<!-- AUTHOR: Nupur Shah
    Student details page
-->
<table class="cs-container cs-table cs-content">
    <caption class="cs-container cap-heading">Student Survey Records</caption>
    <tr>
        <td>Student ID</td>
        <td>{{this?.student?.stdId}}</td>
    </tr>
    <tr>
        <td>Name</td>
        <td>{{this?.student?.username}}</td>
    </tr>
    <tr>
        <td>Street Address</td>
        <td>{{this?.student?.street}}</td>
    </tr>
    <tr>
        <td>City</td>
        <td>{{this?.student?.city}}</td>
    </tr>
    <tr>
        <td>State</td>
        <td>{{this?.student?.state}}</td>
    </tr>
    <tr>
        <td>Zip</td>
        <td>{{this?.student?.zip}}</td>
    </tr>
    <tr>
        <td>Telephone</td>
        <td>{{this?.student?.telephone}}</td>
    </tr>
    <tr>
        <td>Email</td>
        <td>{{this?.student?.email}}</td>
    </tr>
    <tr>
        <td>URL</td>
        <td>{{this?.student?.url}}</td>
    </tr>		
    <tr>
        <td>Interested in the university because</td>
        <td>{{this?.student?.intinuni}}</td>
    </tr>
    <tr>
        <td>Liked about campus</td>
        <td>{{this?.student?.likedabtcampus}}</td>
    </tr>
    <tr>
        <td>Survey Date</td>
        <td>{{this?.student?.sdate}}</td>
    </tr>
    <tr>
        <td>Additional Comments</td>
        <td>{{this?.student?.additionalcomments}}</td>
    </tr>
    <tr>
        <td>High-school graduation month-year</td>
        <td>{{this?.student?.highschlgradmonth}} - {{this?.student?.highschlgradyear}}</td>
    </tr>
    <tr>
        <td>Recommending this school to other students</td>
        <td>{{this?.student?.recos}}</td>
    </tr>
</table>